i {
  line-height: 1;
  height: 1em;
  width: 1em;
}

a.natural {
  color: inherit;
}

img {
  max-width: 100%;
}

.colOpenGraphic {
  margin-bottom: 20px;
  display: block;
}
.bigTime,
.bigWhat {
  font-size: 2em;
  font-weight: bold;
  height: 58px;
  line-height: 58px;
  display: inline-block;
  padding: 0 20px;
  border-radius: 5px;
}
.body {
  margin-bottom: 30px;
}
.bigWhat {
  background-color: #333333;
  color: #EEEEEE;
}
.bigTime {
  background-color: #FFCC00;
}
.jumbotron.header {
  background-color: #FFCC00;
}
.jumbotron.footer {
  background-color: #333333;
  color: #EEEEEE;
  margin-bottom: 0;
}
.jumbotron.footer iframe {
  width: 100% !important;
}
.sw {
  display: none;
}
.service-workers .sw {
  display: block;
}

.youtube-btn-wrapper {
  margin-bottom: 3rem;
}


.talks {
  margin: 5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.talk {
  margin: 2rem 0;
  width: 390px;
  display: block;
  flex: 1 1 auto;
  padding: 0 1rem;
  text-align: left;
}
.talk__title,
.talk__meta,
.talk__description {
  margin: 0rem;
}
.talk__videoLink {
  color: inherit;
  text-decoration: none;
}
.talk__videoLink::hover {
  color: #449d44;
}

.video .modal-dialog {
  width: 90vw;
}

@media (min-width: 768px) {
  .columns {
    column-count: 2;
  }
}

.index_talks img {
  width: 100%;
}
